streamlit
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
chatterbot
chatterbot-corpus
pandas
scikit-learn
numpy
matplotlib
seaborn

# Si estás usando el modelo pequeño de spaCy (necesario para NER)
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl